* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;
    --head: #343433;
    --graylight1: #49444066;
    --graylight2: #FBFAF9;
    --graydark: #5E526A;
    --text: #474645;
    --menu: #282624;
    --lightborder:#E5E5E5;
    --brown:#D48F00;
    --green:#00C978;
    --red:#FF3E00;
}

@font-face {
    font-family: HelveticaNeueBlack;
    src: url(../font/HelveticaNeueBlack.woff);
}

@font-face {
    font-family: HelveticaNeueBold;
    src: url(../font/HelveticaNeueBold.woff);
}

@font-face {
    font-family: HelveticaNeueMedium;
    src: url(../font/HelveticaNeueMedium.woff);
}

@font-face {
    font-family: HelveticaNeueRoman;
    src: url(../font/HelveticaNeueRoman.woff);
}

@font-face {
    font-family: HelveticaNeueThin;
    src: url(../font/HelveticaNeueThin.woff);
}

body {
    font-family: HelveticaNeueRoman;
    font-size: 16px;
    line-height: 1.5em;
    color: var(--text);
}

.main--div {
    padding-top: clamp(100px,15vw,200px);
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 93%;
}

.hr--div {
    max-width: 1280px;
    margin: 0 auto;
    width: 95%;
}

.brown{
    color: var(--brown);
}

.green{
    color: var(--green);
}

.red{
    color: var(--red);
}

.head{
    color: var(--head);
}

.graylight1{
    color: var(--graylight1);
}

.graylight2{
    color: var(--graylight2);
}

.graydark{
    color: var(--graydark);
}

.text{
    color: var(--text);
}

.menu{
    color: var(--menu);
}

.lightborder{
    border-color: var(--lightborder);
}

.brownbg{
    background-color: var(--brown);
}

.greenbg{
    background-color: var(--green);
}

.heading-1{
    font-size: clamp(33px,4vw,65px);
    line-height: normal;
}

.heading-2{
    font-size: clamp(25px,3vw,50px);
    line-height: normal;
}

.sub-head{
    font-size: clamp(18px,2vw,20px);
}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.items-start{
    align-items: flex-start;
}

.items-end{
    align-items: flex-end;
}

.items-baseline{
    align-items: baseline;
}

.items-stretch{
    align-items: stretch;
}

.self-center{
    align-self: center;
}

.self-start{
    align-self: flex-start;
}

.self-end{
    align-self: flex-end;
}

.self-baseline{
    align-self: baseline;
}

.self-stretch{
    align-self: stretch;
}

.gap-1{
    gap: 1rem;
}

.gap-2{
    gap: 2rem;
}

.gap-3{
    gap: 3rem;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.justify-start{
    justify-content: flex-start;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flex-wrap{
    flex-wrap: wrap;
}

.w-full{
    width: 100%;
}

.mt-50{
    margin-top: 50px;
}

.mt-100{
    margin-top: clamp(40px,6vw,100px);
}

.mb-50{
    margin-bottom: 50px;
}

.mb-100{
    margin-bottom: clamp(40px,6vw,100px);
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.pt-50{
    padding-top: 50px;
}

.pt-100{
    padding-top: clamp(40px,6vw,100px);
}

.pb-50{
    padding-bottom: 50px;
}

.pb-100{
    padding-bottom: clamp(40px,6vw,100px);
}


/* @media(max-width:1536px){
    .container{
        max-width: 1270px;
    }
} */
@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container{
        max-width: 1320px;
    }
}

@media (min-width: 1920px) {
    .container{
        max-width: 1500px;
    }
}

